body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

h1{
    text-align: center;
}

.buttonDelete{
    color: brown;
    height: 50%;
    background-color: rgb(243, 243, 243);
}

.buttonDelete:hover{
    color: red;
    
}
.inputsMinMax p{
  font-weight: bold;
}

#inputs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
  gap: 20px;
  margin-top: 20px;
    /*margin: 10px 0;*/
  width: 100%;
}